<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Salary</th>
      <th nzWidth="20%;">Email/Phone</th>
      <th>Schedule Interview</th>
      <th>Action</th>
      <th>Status</th>
      <th>Sub Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.position }}</td>
      <td>{{ data.age }}</td>
      <td nzWidth="20%;"><i nz-icon nzType="mail" style="font-size: 12px " nzTheme="outline"></i> &nbsp;{{data.email}}<br>
        <i nz-icon nzType="phone" nzTheme="fill"></i> &nbsp;{{data.phone}} </td>
      <td (click)="onScheduleInterview()"><a>Schedule Interview</a></td>
      <td>
        <a (click)="onInterviewView(data)">View previous interviews</a>
        <br>
        <a (click)="onView()">View Candidate</a>
      </td>
      <td>CV Submitted</td>
      <td>
         <nz-select [(ngModel)]="substatus" (ngModelChange)="onTechnicalClick()" style="width: 150px;" nzAllowClear nzPlaceHolder="Select a status">
        <nz-option nzLabel="CV Submitted" nzValue="pendingapproval"></nz-option>
        <nz-option nzLabel="CV Screening by HM" nzValue="onetoone"></nz-option>
        <nz-option nzLabel="Screening" nzValue="progress"></nz-option>
        <nz-option nzLabel="Technical" nzValue="closed"></nz-option>
        <nz-option nzLabel="Progress" nzValue="progress"></nz-option>
        <nz-option nzLabel="Technical 2" nzValue="closed"></nz-option>
      </nz-select>
    </td>
    </tr>
  </tbody>
</nz-table>
<app-candidateview (visibleChange)="onPopupClose($event)" [userData]="null" [visible]="displaypopup"></app-candidateview>
<nz-modal
[(nzVisible)]="isVisible"
nzTitle="Previously Scheduled Interviews"
(nzOnCancel)="handleCancel()"
nzOkText='OK'
nzCancelText='Cancel'
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
>
<div nz-row>
  <nz-timeline>
    <nz-timeline-item nzColor="green">Create a services site 2015-09-01</nz-timeline-item>
    <nz-timeline-item nzColor="green">Solve initial network problems 2015-09-01</nz-timeline-item>
    <nz-timeline-item nzColor="red">
      <p>Solve initial network problems 1</p>
    </nz-timeline-item>
    <nz-timeline-item>
      <p>Technical testing 1</p>
    </nz-timeline-item>
    <nz-timeline-item nzColor="gray">
      <p>Technical testing 1</p>
    </nz-timeline-item>
    <nz-timeline-item nzColor="gray">
      <p>Technical testing 1</p>
    </nz-timeline-item>
  </nz-timeline>
</div>
</nz-modal>

<nz-modal
[(nzVisible)]="isStatus"
nzTitle="Current Status"
(nzOnCancel)="handleStatusCancel()"
>
<div nz-row>
  <button nz-button nzType="primary">Primary</button>
  <button nz-button nzType="default">Default</button>
  <button nz-button nzType="danger">Danger</button>
</div>
</nz-modal>