<div nz-row nzGutter="24">
  <div nz-col nzGutter="24" nzSpan="4">.</div>
  <div nz-col nzGutter="24" nzSpan="16">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="project" nzRequired>
            Project
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input project name!">
          <input nz-input id="project" formControlName="project" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area"> 
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="position" nzRequired>Position</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your current Position!">
          <input nz-input type="text" id="position" formControlName="position" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="7" [nzOffset]="6">
          <label nz-checkbox formControlName="billable">
            <span>Billable </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area"> 
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="billingp">Billing Percentage</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your current Position!">
          <input nz-input type="text" id="billingp" formControlName="billingp" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company" nzRequired>Skills</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input skills!">
          <textarea formControlName="skills" nz-input rows="1" placeholder="write any skills"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="location" nzRequired>Location</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Location required'">
          <nz-select nzShowSearch formControlName="location" id="location" nzAllowClear nzPlaceHolder="Select a location" >
            <nz-option nzLabel="Noida(Old Building)" nzValue="1"></nz-option>
            <nz-option nzLabel="Noida(New Building)" nzValue="2"></nz-option>
            <nz-option nzLabel="Kolkata" nzValue="3"></nz-option>
            <nz-option nzLabel="Other" nzValue="4"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
   
      <!-- <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input type="email" formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item> -->
    
    
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salary" nzRequired>Salary</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Valid salary required'">
          <input nz-input type="text" formControlName="salary" id="salary" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="other" nzRequired>Others</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Expected CTC required'">
          <input nz-input type="text" formControlName="other" id="other" />
        </nz-form-control>
      </nz-form-item>
     
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/"
            [nzFileList]="fileList" nzMultiple [nzLimit]="2" [nzFilter]="filters" (nzChange)="handleChange($event)">
            <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload JD</span></button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzGutter="24" nzSpan="4">.</div>
</div>