.login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  .background {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f1f1f185;
    border: 2px solid white;
  }
  .display {
    text-align: center;
  }
  