<nz-sider nzTheme="dark">
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item (click)="onMenuClick('home')">
      <i nz-icon nzType="file"></i>
      <span>Home</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="video-camera"></i>
      <span>nav 2</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="upload"></i>
      <span>Nav 3</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="bar-chart"></i>
      <span>nav 4</span>
    </li>
    <li nz-menu-item (click)="onMenuClick('rrf')">
      <i nz-icon nzType="cloud-o"></i>
      <span>RRF</span>
    </li>
    <li nz-menu-item (click)="onMenuClick('rrflist')">
      <i nz-icon nzType="appstore-o"></i>
      <span>RRF List</span>
    </li>
    <li nz-menu-item (click)="onMenuClick('candidatelist')">
      <i nz-icon nzType="team"></i>
      <span>Candidate List</span>
    </li>
    <li nz-menu-item (click)="onMenuClick('kyun bataon')">
      <i nz-icon nzType="shop"></i>
      <span>Not Found</span>
    </li>
  </ul>
</nz-sider>