<nz-content>
  <div *ngIf="component.toLowerCase() == 'candidatelist'" class="inner-content">
    <app-candidatelist (scheduleinterview)="scheduleInterview()" ></app-candidatelist>
  </div>
  <div *ngIf="component.toLowerCase() == 'home'" class="inner-content">
    <app-home></app-home>
  </div>
  <div *ngIf="component.toLowerCase() == 'rrf'" class="inner-content">
    <app-rrf></app-rrf>
  </div>
  <div *ngIf="component.toLowerCase() == 'rrflist'" class="inner-content">
    <app-rrflist></app-rrflist>
  </div>
  <div *ngIf="component.toLowerCase() == 'scheduleinterview'" class="inner-content">
    <app-scheduleinterview></app-scheduleinterview>
  </div>
  <div *ngIf="component.toLowerCase() == 'notfound'" class="inner-content">
    <app-errorpage></app-errorpage>
  </div>
  
</nz-content>